<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>店舗登録確認</title>
<link rel="stylesheet" th:href="@{/css/mt-style.css}">
</head>
<body>

	<h2>店舗登録確認</h2>
	
	<table class="confirm-table" th:object="${restaurantRegistForm}">
		<tr>
			<td>【店舗名】</td>
			<td th:text="*{restaurantName}"></td>
		</tr>
		<tr>
			<td>【キャッチフレーズ】</td>
			<td><p th:text="*{catchPhrase}"></p></td>
		</tr>
	</table>

	<form th:action="@{mt-restaurant-regist}" method="POST" th:object="${restaurantRegistForm}">
		<input type="hidden" th:field="*{restaurantName}"><br>
		<input type="hidden" th:field="*{catchPhrase}"><br>
		<input type="submit" value="登録" class="btn">
	</form>
	<form th:action="@{mt-show-regist}" method="POST" th:object="${restaurantRegistForm}">
		<input type="hidden" th:field="*{restaurantName}"><br>
		<input type="hidden" th:field="*{catchPhrase}"><br>
		<input type="submit" value="戻る" class="btn">
	</form>

	
</body>
</html>