<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>店舗登録</title>
<link rel="stylesheet" th:href="@{/css/mt-style.css}">
</head>
<body>

	<h2>店舗登録</h2>
	
	<form th:action="@{mt-restaurant-regist-confirm}" method="POST" th:object="${restaurantRegistForm}">
		【店舗名】<br>
		<input type="text"  th:field="*{restaurantName}"><br>
		<div th:if="${#fields.hasErrors('restaurantName')}" th:errors="*{restaurantName}"></div>
		<br>
		【キャッチフレーズ】<br>
		<input type="text"  th:field="*{catchPhrase}"><br>
		<div th:if="${#fields.hasErrors('catchPhrase')}" th:errors="*{catchPhrase}"></div>
		<br>
		<input type="submit" value="登録" class="btn">
	</form>
</body>
</html>