<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>管理メニュー</title>
<link rel="stylesheet" th:href="@{/css/mt-style.css}">
</head>
<body>

	<h2>店舗検索</h2>

	<form th:action="@{/restaurant-search}" method="POST" th:object="${restaurantSearchForm}">
		【店舗名】（部分一致）<br>
	   	<input type="text" th:field="*{restaurantName}"><br>
		<br>
	   	<input type="submit" value="検索" class="btn">
	</form>

	<div th:if="${restaurantList} != null">
		<h2>店舗一覧</h2>

		<table class="restaurant-list">
			<tr>
				<th colspan="2">編集</th><th>店舗ID</th><th>店舗名</th><th>キャッチフレーズ</th><th>レビュー数</th>
			</tr>

			<tr th:each="restaurant : ${restaurantList}">
				<td>
				   <form th:action="@{/edit-restaurant-form}" method="POST">
						<input type="hidden" th:value="${restaurant.restaurantId}" name="restaurantId"}>
						<input type="hidden" th:value="${restaurant.restaurantName}" name="restaurantName">
						<input type="hidden" th:value="${restaurant.catchPhrase}" name="catchPhrase">
						<input type="submit" value="編集" class="btn">
					</form>
				</td>
				<td>
					<form th:action="@{/delete-restaurant}" method="POST">
						<input type="hidden" th:value="${restaurant.restaurantId}" name="restaurantId"}>
						<input type="hidden" th:value="${restaurant.restaurantName}" name="restaurantName">
						<input type="hidden" th:value="${restaurant.catchPhrase}" name="catchPhrase">
						<input type="submit" value="削除" class="btn-disable" th:if="${restaurant.reviewCount}" disabled>
						<input type="submit" value="削除" class="btn" th:if="!${restaurant.reviewCount}" >
					</form>
				</td>
				<td th:text="${restaurant.restaurantId}"></td>
				<td th:text="${restaurant.restaurantName}"></td>
				<td th:text="${restaurant.catchPhrase}"></td>
				<td th:text="${restaurant.reviewCount}"></td>
			</tr>

		</table>

	</div>

	<br>
	<a th:href="@{/mt-top}">管理メニューに戻る</a>

	</body>
	</html>